
header{
    height: 100% !important;
}

.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.row-header {
	margin: 0px auto;
	padding: 0px auto;
	
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

#canvas_title {
z-index:1;
}
.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address {
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
    background-color: #fffdd0;
    overflow-x: hidden;
}

.reserve{
    margin: 0px 0px 40px 0px;

}

.navbar-dark {
 transition:500ms ease;
background: #054284;; /* Old browsers */
background: -moz-linear-gradient(top,  #054284; 0%, #3D536E 8%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#054284), color-stop(8%,#3D536E), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #054284; 0%,#3D536E 8%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #054284; 0%,#3D536E 8%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #054284; 0%,#3D536E 8%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #054284; 0%,#3D536E 8%,#0e0e0e 100%); /* W3C */
z-index: 1;
 
}
.trans{
 /*	opacity: 0.6;*/

 background: transparent;

}

.trans:hover{
background: #054284;; /* Old browsers */
background: -moz-linear-gradient(top,  #054284; 0%, #3D536E 8%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#054284), color-stop(8%,#3D536E), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #054284; 0%,#3D536E 8%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #054284; 0%,#3D536E 8%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #054284; 0%,#3D536E 8%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #054284; 0%,#3D536E 8%,#0e0e0e 100%); /* W3C */

    opacity: 0.7;
}

.nav-sub{
  background-color: #99ff33;   
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 340px;

}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 340px;
}


    .container-gallery
    {
        width: 80%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-perspective: 1000;
        perspective: 1000;
        position: relative;
    }

    .popup
    {
        width: 250px;
        margin: 0 -25px;
        position: relative;
        box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.5);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        -webkit-transition: .2s;
        transition: .2s;
        cursor: pointer;
    }

        .popup:hover
        {
            -webkit-transition: .2s;
            transition: .2s;
            -webkit-transform: translateZ(5px) translateY(-20px) scale(1.05);
            transform: translateZ(5px) translateY(-20px) scale(1.05);
        }

    .popup-1,.popup-4
    {
        -webkit-transform: translateZ(1px);
        transform: translateZ(1px);
    }

    .popup-2,.popup-5
    {
        -webkit-transform: translateZ(2px) translateY(-5px);
        transform: translateZ(2px) translateY(-5px);
    }

    .popup-3
    {
        -webkit-transform: translateZ(3px) translateY(-10px);
        transform: translateZ(3px) translateY(-10px);
    }

    .popup-1:hover ~ .popup-2
    {
        -webkit-transform: translateZ(4px) translateY(-15px);
        transform: translateZ(4px) translateY(-15px);
        -webkit-transition: .2s;
        transition: .2s;
    }

    .popup-4
    {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

        .popup-4:hover ~ .popup-5
        {
            -webkit-transform: translateZ(3px) translateY(-15px);
            transform: translateZ(3px) translateY(-15px);
            -webkit-transition: .1s;
            transition: .1s;
        }

   .modal-header {
  background: #512DA8;
  color: floralwhite; }
  .modal-header button {
    color: floralwhite; }

.modal-body {
  background: #D1C4E9; }

#thin::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#thin::-webkit-scrollbar
{
	width: 10px;
	background-color: #054284;
}

#thin::-webkit-scrollbar-thumb
{
	background-color: #054284;
	border: 2px solid #054284;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:80%;
position:absolute;
}